<div class="container">
  <div class="row">
    <div class="col col-md-6 offset-md-3">
      <mat-card>
        <mat-card-title>Add a new Category</mat-card-title>
        <mat-divider></mat-divider>
        <form (ngSubmit)="addCategoryForm()">
          <mat-form-field appearance="outline" class="full-width mt20">
            <mat-label>Category Title:</mat-label>
            <input matInput placeholder="Enter title name" [(ngModel)]="category.categoryTitle" name="categoryTitle">
          </mat-form-field>



          <mat-form-field appearance="outline" class="full-width mt20">
            <mat-label>Category Description:</mat-label>
            <textarea matInput [(ngModel)]="category.categoryDescription" name="categoryTitle"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" class="full-width mt20">Create</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
