<div class="container-fuild">
  <div class="row">
    <mat-card class="quiz-card" *ngFor="let quiz of quizzes">
      <mat-toolbar class="card-nav">
        <span class="spacer"></span>
        <section class="example-section">
          <mat-slide-toggle
            class="example-margin"
            color="primary"
            [checked]="quiz.active"
            (change)="activate(quiz)"
          >
          </mat-slide-toggle>
        </section>
        <button
          mat-icon-button
          color="secondary"
          aria-label=" icon-button with edit icon"
          (click)="openUpdateDialog(quiz)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with share icon"
          (click)="deleteQuiz(quiz.quizId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar>

      <div class="card-main-content">
        <mat-card-title class="mt10">{{ quiz.quizTitle }} </mat-card-title>
        <mat-card-subtitle>{{ quiz.quizId }}</mat-card-subtitle>

        <mat-card-content class="quiz-content">
          {{ quiz.quizDescription }}
        </mat-card-content>

        <mat-card-actions>
          <button mat-stroked-button color="accent">
            Number of Questions: {{ quiz.totalNumberOfQuestions }}
          </button>
          <button mat-stroked-button color="primary">
            Total Marks: {{ quiz.maxMarks }}
          </button>
          <button mat-stroked-button class="mt10" color="secondary">
            Total Attempts:100
          </button>
          <button
            mat-raised-button
            class="mt10"
            color="primary"
            [routerLink]="'/admin-dashboard/questions/'+ quiz.quizId + '/' + quiz.quizTitle"
            [disabled]="!quiz.active"
          >
            Questions
          </button>
        </mat-card-actions>
      </div>
    </mat-card>

    <button
      mat-raised-button
      color="primary"
      class="add-btn"
      (click)="openAddDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
