<div class="container-fuild">
  <div class="row">
      <mat-card class="category-card" *ngFor="let category of categories">
        <mat-card-title> {{ category.categoryTitle }}</mat-card-title>
        <mat-card-subtitle>{{ category.categoryId }}</mat-card-subtitle>
        <mat-card-content>
          {{ category.categoryDescription }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button  color="primary" (click)="selected(category.categoryId)">Select</button>
          <button mat-raised-button color="accent" (click)="updateDialog(category)">Update</button>
          <button mat-raised-button  color="warn" (click)="deleteCategory(category.categoryId)" >Delete</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
